@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.allFigures-container {
  min-height: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: "left-navbar main";
  grid-template-columns: 0px 1fr;
  grid-template-rows: 100px 1fr;

  //MAIN SECTION
  #main {
    grid-area: main;
    display: grid;
    grid-template-areas:
      "top-navbar"
      "all-figures-container"
      "footer"; //TOUCH HERE

    transition: margin-left 0.5s; /* If you want a transition effect */

    //MAIN CONTENT
    .all-figures-container {
      grid-area: all-figures-container;
      height: 100%;
      width: 100%;

      .all-figure-info {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        border-radius: 2px;
        margin: 20px;
        padding: 10px;

        [data-reach-tab-list] {
          display: flex;
          background: none;
          border-bottom: 1px solid #c0c0c0;
        }
        [data-reach-tab] {
          padding-bottom: 1rem;
        }
        [data-reach-tab][data-selected] {
          border-bottom: 2px solid #3f51b5;
        }

        //header
        .all-figures-header {
          width: 100%;
          p {
            text-align: center;
            font-size: 16px;
          }
        }

        //New Figure button
        .add-figure-button {
          button {
            padding: 0px 20px 0px 20px;
            color: #3f51b5;
            font-size: 25px;
            background: none;
            border: 1px solid #c0c0c0;
            margin: 1.5rem 0 1.5rem 0;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
              background: #c0c0c028;
            }

            a {
              text-decoration: none;
            }
          }
        }

        .figures {
          height: 100%;
          width: 100%;

          ul {
            display: grid;
            grid-template-columns: 1fr;
            list-style: none;
            grid-gap: 1rem;

            li {
              border: 1px solid #c0c0c0;
              border-radius: 5px;
              padding: 0rem 1rem 0rem 1rem;
              .figure-card {
                display: grid;
                grid-template-areas:
                  "card-title close-card"
                  "figure-square-card figure-square-card";
                padding-top: 1rem;

                .card-title {
                  grid-area: card-title;
                  font-size: 10px;
                  display: grid;
                  justify-content: start;
                }
                .close-card {
                  grid-area: close-card;
                  font-size: 18px;
                  display: grid;
                  justify-content: end;
                  padding-right: 1rem;
                  cursor: pointer;
                }
                .figure-square-card {
                  grid-area: figure-square-card;
                  padding-top: 1rem;
                  margin-bottom: 1rem;
                  display: grid;
                  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                  grid-template-rows: 30px 30px 30px 30px 30px;
                  grid-gap: 5px;

                  .square {
                    background: #c2c2c2;
                    border-radius: 5px;
                    padding: 2px;
                  }
                }
              }
            }
          }
        }

        //Modality
        .modality-list {
          width: 100%;
          margin-top: 1rem;
          padding: 1rem;
          table {
            width: 100%;
            height: 100%;
            border-collapse: collapse;
            display: table;

            tr {
              border-bottom: 1px solid #c0c0c0;
              text-align: left;
              width: 90%;

              th {
                font-weight: 100;
                font-size: 13px;
                padding-left: 1rem;
                color: rgba(0, 0, 0, 0.54);
              }
            }
            td {
              padding-top: 1rem;
              padding-bottom: 1rem;
              padding-left: 1rem;

              .fa-pencil-alt {
                color: rgb(245, 176, 119);
              }
              .fa-times {
                color: red;
                padding-left: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .figures {
    ul {
      grid-template-columns: 1fr 1fr !important;
    }
  }
}
@media (min-width: 1024px) {
  .all-figure-info {
    margin: 2rem 6rem 2rem 6rem !important;
  }
  .figures {
    ul {
      grid-gap: 2rem !important;
      grid-template-columns: 1fr 1fr 1fr !important;
    }
  }
}

@media (min-width: 1440px) {
  .all-figure-info {
    margin: 2rem 6rem 2rem 6rem !important;
  }
  .figures {
    padding: 0 2rem;
    ul {
      grid-gap: 2rem !important;
      grid-template-columns: 1fr 1fr 1fr !important;
    }
  }
}
