body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border: 1px solid #c0c0c0;
}

.sidebar a {
  text-decoration: none;
  font-size: 16px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*Here goes the content*/
#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/*This is my code*/
.logo img {
  max-width: 100%;
}

.navbar-links ul #super-admin-span {
  border-top: none;
}
.navbar-links ul #super-admin-span:hover {
  background: none;
}
.navbar-links ul #figures {
  border-bottom: 1px solid #c0c0c0;
}
.navbar-links ul li {
  padding: 16px;
  border-top: 1px solid #c0c0c0;
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding-left: 1.5 rem;
}
.navbar-links ul li a {
  text-decoration: none;
  color: inherit;
}
.navbar-links ul li:hover {
  background: rgba(201, 201, 201, 0.37);
  cursor: pointer;
}
.navbar-links ul li span {
  color: rgba(0, 0, 0, 0.54);
}
.navbar-links ul li i {
  font-size: 24px;
  margin-right: 1rem;
}
