@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.editFigures-container {
  min-height: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: "left-navbar main";
  grid-template-columns: 0px 1fr;
  grid-template-rows: 100px 1fr;

  //MAIN SECTION
  #main {
    grid-area: main;
    display: grid;
    grid-template-areas:
      "top-navbar"
      "all-figures-container"
      "footer"; //TOUCH HERE

    transition: margin-left 0.5s; /* If you want a transition effect */

    //MAIN CONTENT
    .editFigure {
      height: 100%;
      width: 100%;
      //info
      .edit-figure-info {
        padding: 1.5rem 1rem 1.5rem 1rem;
        display: grid;
        grid-template-areas:
          "back-button select-modality"
          "card-title-edit card-title-edit"
          "card-edit card-edit";
        grid-template-columns: 80px 1fr;

        //back-button
        .back-button {
          grid-area: back-button;
          button {
            padding: 10px 25px 10px 25px;
            background: none;
            color: #3f51b5;
            border: 1px solid #c0c0c0;
            border-radius: 5px;
            cursor: pointer;
          }
        }

        //select modality
        .select-modality {
          grid-area: select-modality;
          position: relative;
          width: 100%;

          label {
            position: absolute;
            top: 0;
            font-size: 10px;
            color: #3f51b5;
          }
          select {
            position: absolute;
            top: 20px;
            border: none;
            border-bottom: 2px solid #3f51b5;
          }
        }

        //Title add
        .card-title-edit {
          grid-area: card-title-edit;
          height: 100px;
          background: rgb(255, 204, 204);
          border-radius: 5px;
          font-size: 1.6em;
          text-align: center;
          display: grid;
          align-items: center;
          font-weight: 500;
          margin: 2rem 0 2rem 0;
          line-height: 0;
        }

        //card add
        .card-edit {
          grid-area: card-edit;
          padding: 0px;

          //title card
          .edit-figure-title {
            input {
              border: none;
              border-bottom: 1px solid #c0c0c0;
              width: 100%;
              padding-bottom: 5px;
              margin-bottom: 1rem;
            }
          }

          //square-card
          .edit-square {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 30px 30px 30px 30px 30px;
            grid-gap: 10px;

            .square-gray {
              background: #c2c2c2;
              border-radius: 5px;
              padding: 2px;
              cursor: pointer;
            }
            .square-blue {
              background: rgb(110, 203, 219);
              border-radius: 5px;
              padding: 2px;
              cursor: pointer;
            }
          }
          .edit-button {
            display: grid;
            justify-content: end;
            margin-top: 1rem;
            button {
              border: none;
              border-radius: 5px;
              color: #fff;
              background: #3f51b5;
              padding: 0.8rem;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  //Top-Navbar
}

@media (min-width: 768px) {
  .edit-figure-info {
    padding: 2rem !important;
  }
}
@media (min-width: 1024px) {
  .card-edit {
    padding: 0rem 5rem !important;
  }
}

@media (min-width: 1440px) {
  .edit-figure-info {
    padding: 1rem 4rem !important;
    .card-edit {
      padding: 0rem 5rem !important;
    }
  }
}
